<nav>
    <div class=" site-title">

        <a href="/">
            <h1>Tasks</h1>
        </a>
        <h4>A website for creating tasks using Node, Express and MongoDB </h4>
    </div>
    <ul>
        <li><a href="/">Tasks</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/Tasks/create">New Task</a></li>
    </ul>
</nav>