<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="container">
                <div class="not-found content">
                    <h1>Oops, Page Not Found</h1>
                    <p>The page you're looking for does not exist or may have been moved.</p>
                </div>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>