<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="create-nfc content">
                <form action="/logs" method="post">
                    <label for="SerialNumber">Serial Number:</label>
                    <input type="number" id="SerialNumber" name="SerialNumber" required>

                    <label for="idNumber">ID Number:</label>
                    <input type="text" id="idNumber" name="idNumber" required>

                    <label for="text">Text:</label>
                    <input type="text" id="text" name="text" required>

                    <label for="uniqueNumber">Unique Number:</label>
                    <input type="number" id="uniqueNumber" name="uniqueNumber" required>

                    <button>Submit</button>
                </form>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>