<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="create-nfc content">
                <form action="/logs" method="post">
                    <label for="ID">ID:</label>
                    <input type="text" id="ID" name="ID" required>

                    <label for="next_Id">Next ID:</label>
                    <input type="text" id="next_Id" name="next_Id" required>

                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="latitude">Latitude:</label>
                    <input type="number" id="latitude" name="loc[lat]" step="0.000001" required>

                    <label for="longitude">Longitude:</label>
                    <input type="number" id="longitude" name="loc[long]" step="0.000001" required>



                    <button>Submit</button>
                </form>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>